* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .signInWrapper {
    max-width: 350px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff00;
    text-align: center;
  }
  
  .signInTitle {
    color: #ffba33;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
    transition: border 0.3s;
  }
  
  .inputField::placeholder {
    color: #aaa;
  }
  
  .inputField:focus {
    border-color: #ffba33;
  }
  
  .signInButton {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .signInButton:enabled:hover {
    background-color: #ffba33;
  }
  
  .signInButton:enabled {
    background-color: #ffba33;
  }
  
  .extraLinks {
    margin-top: 20px;
  }
  
  .extraLinks a {
    text-decoration: none;
    color: #3a3a3a;
    margin: 10px 30px 10px 30px;
    font-weight: 400;
    font-size: 14px;
  }
  
  .extraLinks a:hover {
    text-decoration: underline;
  }
  